body {
  background-color: #bad5ff;
}

.navigation {
  background-color: #99bef7;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  margin-left: -8px;
}

.navigation a {
  float: left;
  color: white;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;
  font-size: 20px;
  width: 10.2%;
  text-decoration: none;
  font-weight: bold;
  font-family: Verdana, sans-serif;
}

.navigation a:hover {
  color: grey;
}

#name:hover {
  color: white;
}

.selected {
  background-color: #7faef5;
}

#name {
  text-align: left;
  padding-left: 50px;
  width: 45%;
}

.center {
  width: 80%;
  margin: auto;
  margin-top: 110px;
}

.resume {
  display: inline-block;
  width: 552px;
  height: 715px;
  background-color: white;
  border: none;
}

#resumelink {
  top: 50%;
  padding: 15px;
  margin-top: 250px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin-right: 30px;
  margin-left: 80px;
  background-color: #99bef7;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: Verdana, sans-serif;
}

#resumelink:hover {
  background-color: #7faef5;
}

.spacer {
  margin-top: 110px;
}

.PlantTracker {
  background-color: #99bef7;
  width: 95%;
  vertical-align: top;
  margin: auto;
}

.BigBen {
  background-color: #99bef7;
  width: 95%;
  vertical-align: top;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

h1 {
  text-align: center;
  color: white;
  font-family: Verdana, sans-serif;
  margin-top: 60px;
}

p {
  width: 90%;
  color: white;
  font-family: Verdana, sans-serif;
  margin: auto;
  margin-bottom: 40px;
}

.plantpic {
  width: 16%;
  display: inline-block;
  margin: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.Blurb {
  display: inline-block;
  width: 45%;
  vertical-align: top;
  margin: 5px;
}

.github {
  font-family: Verdana, sans-serif;
  color: white;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  display:block;
  font-weight: bold;
  padding: 15px;
}

.discpic {
  width: 50%;
  display: inline-block;
  margin: 25px;
  margin-top: 30px;
  margin-bottom: 25px;
}

.AboutMe {
  display: inline-block;
  width: 60%;
  vertical-align: top;
  font-size: 18px;
  background-color: #99bef7;
  margin: 40px;
}

.AboutMe h1{
  margin-top: 40px;
}

.me {
  width: 350px;
  height: 350px;
  object-fit: cover;
  display: inline-block;
  border-radius: 50%;
  border: 5px solid white;
  margin: auto;
  margin-top: 100px;
}

.contact {
  width: 30%;
  margin:auto;
  text-align: center;
  margin-top: 200px;
  font-size: 18px;
  background-color: #99bef7;
  padding-top: 20px;
  padding-bottom: 20px;
}

.contact p {
  margin-bottom: 5px;
}

.contact a {
  font-family: Verdana, sans-serif;
  color: white;
  text-decoration: none;
}
